.app {
  font-family: "Poppins", Arial, serif;
  font-size: 20px;
  background-color: #1c1e3f;
  background-image: url(assets/images/background-navy.png);
  min-height: 100vh;
  padding: 1em;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: center;
  img {
    max-height: 8em;
    max-width: 100%;
  }
}

.navigation {
  padding: 1em;
  box-sizing: border-box;
  display: none;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
  &__item {
    cursor: pointer;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fb4e1e;
    text-transform: uppercase;
    &:hover {
      transform: scale(1.3);
      opacity: 0.8;
    }
    &:active,
    &:focus {
      outline: none;
    }
  }
}

.navigation--mobile {
  height: 60px;
  display: flex;
  justify-content: space-between;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fb4e1e;
  text-transform: uppercase;
  align-items: center;
  box-sizing: border-box;
  margin: 1em 0;
  cursor: default;
  &:active,
  &:focus {
    outline: none;
  }
  &__item {
    text-align: center;
  }
}

.awssld__bullets {
  display: none;
}

i.disabled {
  visibility: hidden;
  cursor: auto;
}

.learn-more {
  justify-content: center;
  cursor: pointer;
}

.content {
  max-width: 800px;
  display: block;
  margin: auto;
}

a {
  color: #f7941d;
  cursor: pointer;
  // -webkit-text-stroke-width: 1px;
  // -webkit-text-stroke-color: #fb4e1e;
}

ul.social__icons {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 2em auto;
  width: 400px;
  max-width: 100%;
  padding-inline-start: 0;
  li {
    display: inline-block;
    cursor: pointer;
  }
}

.carousel-slide {
  img {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    & img {
      height: 6em;
    }
  }
  .navigation--mobile {
    margin: 0.75em 0;
    font-size: 16px;
    height: auto;
  }
  ul.social__icons {
    margin: 1em auto;
  }
}

// desktop styling
@media only screen and (min-width: 768px) {
  .app {
    padding: 2em 2em 4em;
    overflow: hidden;
  }
  .navigation {
    display: flex;
  }
  .navigation--mobile {
    display: none;
  }
  .awssld__bullets {
    display: flex;
  }
  .header {
    & img {
      height: 5em;
    }
  }
}
